.wrapper {
  @media screen and (max-width: 992px) {
    display: block;
    width: 100%;
  }
  .colLeft {
    width: 85%;
    background: rgb(242, 244, 248);
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .addressBar {
      background-color: #e2f4fc;
      .addressContainer {
        width: 111.875rem;
        color: #717273;
      }
    }
    .menuFoodBar {
      box-shadow: 0px 1px 0px 0px #dcdcdc;
      .menuContainer {
        width: 108.125rem;
      }
    }
    .foodList {
      .foodNavbar {
        width: 110.3125rem;
        li {
          a {
            &:hover {
              background: rgba(0, 0, 0, 0.086);
            }
            &.active {
              background: rgb(227, 24, 55);
              color: #fff;
            }
            border: 1px solid #00000024;
            img {
              width: 1.25rem;
            }
          }
        }
      }
    }
    .cakeWrapper {
      .cakeBlock {
        width: 121.5625rem;
        .cakeImg {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
  .colRight {
    width: 15%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}
