$space: 6;
.wrapper {
  .colLeft {
    width: calc(100vw - 100vw / $space);
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .foodList {
      .foodNavbar {
        li {
          a {
            &.active {
              background: red;
              color: #fff;
            }
          }
        }
      }
    }
    .remainedBar {
      height: calc(100vh - 13rem);
    }
  }
  .colRight {
    width: calc(100vw / $space);
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .cartGrid {
      grid-template-columns: 2rem 2rem 11.875rem auto;
    }
    .remainedBar {
      height: calc(100vh - 13rem);
    }
  }
}
.blockRadio {
  input[type="radio"] {
    top: 6px;
    left: 6px;
    &:checked {
      & ~ .mask {
        &::before {
          border-color: black;
        }
        &::after {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: black;
          z-index: 3;
          content: " ";
        }
      }
    }
  }
  .mask {
    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #fff;
      border-width: 2px;
      border-style: solid;
      border-color: #e5e5e5;
      z-index: 1;
      content: " ";
    }
  }
}
.menuDialog {
  height: calc(100vh / 1.5);
  margin-top: calc(-100vh / 1.5 / 2);
}
